@import url(../blocks/attribution.css);
@import url(../blocks/body.css);
@import url(../blocks/card.css);
@import url(../blocks/author.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}